<modal>    
    <h5 class="modal-title" modal-title>Excluir funcionário {{ employee?.name }}</h5>
  <div class="modal-body">
          Tem certeza que deseja excluir o functionario {{ employee?.name }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
    <button type="button" class="btn btn-danger" (click)="employeeDelete()">Excluir</button>
  </div>
</modal>