<modal>
  <form (submit)="addEmployee()">
    <h5 class="modal-title" modal-title>Adiconar funcionário {{ employees?.name }}</h5>
    <div class="modal-body" modal-content>
      <div class="form-group">
          <label for="">Nome</label>
          <input class="form-control" name="name" type="text" [(ngModel)]="employees.name" #inputName>
      </div>

      <div class="form-group">
          <label for="">Salario</label>
          <input class="form-control" name="salary" [salaryColor]="employees.salary" type="number" [(ngModel)]="employees.salary">
      </div>

      <div class="form-group" *ngIf = "employees.salary <= 100">
          <label for="">Bonus</label><br>
          <input class="form-control" name="bonus" type="number" [(ngModel)]="employees.bonus">          
      </div>        

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
      <button type="submit" class="btn btn-primary" [hidden]="employees.name == '' || employees.salary <= 0">Salvar</button>
    </div>
</form>
</modal>
