<div class="container">
  <div class="row">
    <div class="col-md-12">
      <alert-success [type]="msg?.type">
          <!-- O funcionário {{ employee?.name }} foi adicionado com sucesso! -->
          {{ msg.text }}
      </alert-success>      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h2>Lista de funcionarios</h2>

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <td colspan="4"><button class="btn btn-primary pull-right" (click)="employeeNewModal.show()">Novo funcionário</button></td>
            </tr>
            <tr>
              <th>Nome</th>
              <th>Salario</th>
              <th>Bonus</th>
              <th>Total</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor = "let employee of employees">
              <td [ngClass]="{'green': employee.salary >= 50, 'red': employee.salary < 50}">{{ employee.name | uppercase }}</td>
              <td  [salaryColor]="employee.salary">{{ employee.salary | myCurrency }}</td>            
              <td [innerHtml]="employee.bonus" [salaryColor]="employee.salary"></td>
              <td [innerHTML]="employee.salary + employee.bonus" [salaryColor]="employee.salary"></td>   
              <td><a href="javascript:void(0)" class="btn btn-info" (click)="editModal(employee)">Editar</a> </td>         
              <td><a href="javascript:void(0)" class="btn btn-info" (click)="deleteModal(employee)">Excluir</a> </td>         
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<employee-new-modal (onSubmit)="onEmployeeAdd($event)" (onHide)="fechou($event)" (onShow)="abriu($event)"></employee-new-modal>
<employee-edit-modal [employees]="employeeToEdit" (onSubmit)="onEmployeeEdit($event)"></employee-edit-modal>
<employee-delete-modal [employee]="employeeToDelete" (onDestroy)="onEmployeeDelete($event)"></employee-delete-modal>