<label for="">Nome</label><br>
<input type="text" [(ngModel)]="employees.name"><br><br>
<label for="">Salario</label><br>
<input type="number" [(ngModel)]="employees.salary"><br><br>

<div *ngIf = "employees.salary <= 100">
    <label for="">Bonus</label><br>
    <input type="number" [(ngModel)]="employees.bonus">
    <br><br>
</div>

<button style="padding: 10px 20px;" [hidden]="employees.name == '' || employees.salary <= 0" type="button" (click)="addEmployee()">Adicionar</button>
