<modal>
      <form (submit)="editEmployee()">
        <h5 class="modal-title" modal-title>Editar funcionário {{ employees?.name }}</h5>
        <div class="modal-body" *ngIf="employees">
          <div class="form-group">
              <label for="">Nome</label>
              <input class="form-control" name="name" type="text" [(ngModel)]="employees.name">
          </div>

          <div class="form-group">
              <label for="">Salario</label>
              <input class="form-control" name="salary" [salaryColor]="employees.salary" type="number" [(ngModel)]="employees.salary">
          </div>

          <div class="form-group" *ngIf = "employees.salary <= 100">
              <label for="">Bonus</label><br>
              <input class="form-control" name="bonus" type="number" [(ngModel)]="employees.bonus">          
          </div>        

        </div>
        <div class="modal-footer" *ngIf="employees">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
          <button type="submit" class="btn btn-primary" [hidden]="employees.name == '' || employees.salary <= 0">Salvar</button>
        </div>
    </form>
</modal>